@import "tailwindcss";

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    background-color: #10b981;
    color: #ffffff;
  }
}
